div{
    width: 465px;
    height: 160px;
}
.first{
    background-image: url("../img/Снимок.PNG");
}
.second
{
    background-image: url("../img/Снимок2.PNG");
}
.third{
    background-image: url("../img/Снимок3.PNG");
}